/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*
font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
*/


/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

/*----------- HEADER --------------*/
header {
    padding: .5rem 2%;
    background-color: #ffffff;
}

header img {
    float: left;
    margin-right: 10px;
    max-width: 150px;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-family: 'Amatic SC', cursive;
}

header h2 {
    margin: 0;
    font-weight: normal;
    font-size: 1rem;
    font-family: 'Amatic SC', cursive;
} 

/*----------- NAVIGATION --------------*/
nav {
    background-color: #f7a399;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    color: white;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    border-right: 1px #f38375 solid;
}

nav ul li a:hover {
    background-color: #fbc3bc;
    color: black;
}

nav ul li.active a {
    background-color: #f38375;
    color: black;
}

/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 10rem;
}

main img.screen { 
    width: 480px;
}

main img.none { 
    width: 250px;
}

main h1.sample {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Amatic SC', cursive;
}

/*----------- FOOTER --------------*/
footer {
    background-color: #f7a399;
    padding: .5rem 2%;
    text-align: center;
    color: white;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}