/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 40.5rem) {

    
    header img {
        width: 100%;
        max-width: 150px;
    }
        
    .headings h1 {
        font-size: 2.6rem;
    }
        
    .m {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
        

    div#NavWrapper {
background: #1d3557; /* Old browsers */
background: -moz-linear-gradient(45deg,  #1d3557 0%, #1898cb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #1d3557 0%,#1898cb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #1d3557 0%,#1898cb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d3557', endColorstr='#1898cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    }

    nav button {display: none;}

    nav ul.hide {display: block;}

    nav ul {margin-left: 2%;}

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    

} /*end medium */