@media only screen and (min-width: 1028px) {
    
    
    /*---------- HEADER ----------*/



    /*---------- NAVIGATION ----------*/



    /*---------- BODY ----------*/

    .todo, .cta, .cozumel, .forecast, .contactInfo, #ty {
        max-width: 80%;
    }

    /*---------- MAIN ----------*/

    div.container figure img {
        max-width: 200px;
        max-height: 200px;
    }

    /*---------- FOOTER ----------*/

    #weatherforecast {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        width: 80%;
    }
    
    #weatherforecast div {
        min-width: 90%;
        max-width: 75%;
    }

    /*----------  ----------*/

    .ws {
        max-width: 45%;
    }

    /*---------- TOURS ----------*/

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
    }

    /*---------- PRICES ----------*/

    .services .chart li {
        width: 7.3rem;
    }



    /*----------  ----------*/



    /*----------  ----------*/



    /*----------  ----------*/


}