.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

article {
    display: block;
    margin: 15px;
    max-width: 100%;
    border-radius: 15px;
}

/*header colors */

.block1 h4 {color: black;}
.block1 {
    color: black;
    background-color: #ffffff;
}

/* navigation colors */
.block2 {
    color: white;
    background-color: #36CCFF;
}

/* naviation active colors */
.block3 {
    color: #333;
    background-color: rgb(0, 180, 240);
}

/* navigation hover colors */
.block4 {
    color: #ffffff;
    background-color: #000000;
}

/********************* medium screen *************************/
@media only screen and (min-width: 30em) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/********************* large screen *************************/
@media only screen and (min-width: 60em) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}